<div *ngIf="!registrado"> 
    <form (submit)="register()">
      <h2>Registro</h2>
        <label>Nombre completo</label>
        <input type="text" [(ngModel)]="fullName" name="fullName" required>
        <label>Correo electrónico</label>
        <input type="email" [(ngModel)]="email" name="email" required>
        <label>Contraseña</label>
        <input type="password" [(ngModel)]="password" name="password" required>
        <label>Lugar de residencia</label>
        <input type="text" [(ngModel)]="residence" name="residence" required>
        <label>Imagen de perfil</label>
        <input type="file" [(ngModel)]="profileImage" name="profileImage" class="file-input">
        <label>Rol</label>
        <select [(ngModel)]="role" name="role" required>
          <option value="usuario">Usuario</option>
          <option value="administrador">Administrador</option>
        </select>
        <div *ngIf="role === 'administrador'">
          <label>Código de acceso</label>
          <input type="text" [(ngModel)]="adminCode" name="adminCode" required>
          <div *ngIf="invalidCode" class="error">Código de acceso inválido</div>
        </div>
        <label>
          <input type="checkbox" [(ngModel)]="acceptTerms" name="acceptTerms" required>
          Acepto los términos y condiciones
        </label>
        <div>
          <a href="https://www.example.com/terminos-y-condiciones" target="_blank">Términos y condiciones</a>
        </div>
        <button type="submit">Registrarse</button>
        <button (click)="mostrarIniciarSesion()">Ya tengo una cuenta</button>
    </form>
   
  </div>

 
<div *ngIf="registrado">
  <form (submit)="login()">
         <h2>Iniciar sesión</h2>
        <label>Correo electrónico</label>
        <input type="email" [(ngModel)]="loginEmail" name="loginEmail" required>
        <label>Contraseña</label>
        <input type="password" [(ngModel)]="loginPassword" name="loginPassword" required>
      <button type="submit">Iniciar sesión</button>
      <button (click)="mostrarRegistro()">Crear una cuenta</button>
    </form>
</div>
